
.img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.img-wrap {
  position: relative;

  .img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }

}

.poster {
  overflow: hidden;

  .img {
    display: block;
    width: 100%;
  }
}

.logo {
  display: inline-block;
  height: 3em;
  transition: width $transition-duration $transition-cuz,
              height $transition-duration $transition-cuz;

  @include rwd-tablet {
    height: 2.5em;
  };
}

.circle-progress {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  .percent {
    position: absolute;
    font-size: .375em;
    font-family: $font-title;

    .percent-number {
      font-size: .75em;
    }

    .percentage {
      margin-left: .125em;
      font-size: .5em;
    }
  }

  .canvas {
    width: 100%;
    height: 100%;
    user-select: none;
  }
}

.drop-bg {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $blue-darker;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &::after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30em;
    max-height: 35vh;
    background-image: linear-gradient(0deg, #{$blue-darker} 15%, transparent);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
