{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "always",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
