inclulde ./variables

<!DOCTYPE html>
html(lang="zh-TW")
  head
    link(rel="stylesheet" hrref= normalize_path )
    link(rel="stylesheet" hrref= style_path )
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Shopping Mall
    
    block head

  body
    
    block body
