include ./variables

<!DOCTYPE html>
html(lang="zh-TW")
  head
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|PT+Sans|Pragati+Narrow|Voltaire" rel="stylesheet")
    link(rel="stylesheet" href= normalize_path )
    link(rel="stylesheet" href= style_path )
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title TMDB Searcher
    
    block head

  body
    
    block body
