extends ./html

block body
  .wrap
    header.head
      .navbar
        .logo.img-wrap
          img.img(src= tmdb_logo, alt="TMDB Logo")
        nav.nav
          a.nav-item(href="discover.html" alt="discover") Discover
        .input-group.search-wrap
          label.lb(for="search")
            i.fa.fa-search
          .inp-wrap
            input#search.inp(type="text" placeholder="Movie, TV Series ...")
            .autocomplete-wrap(style="display:none;")
              ul.autocomplete
                li.item
                  button.btn(type="button")
                    i.fa.fa-arrow-circle-right
                    | TEST
                li.item
                  button.btn(type="button")
                    i.fa.fa-arrow-circle-right
                    | TEST
                li.item
                  button.btn(type="button")
                    i.fa.fa-arrow-circle-right
                    | TEST
                li.item
                  button.btn(type="button")
                    i.fa.fa-arrow-circle-right
                    | TEST
          button.btn.btn-exec(type="button") Search
    
    .main
      
      block inner
    
    footer.foot
      a(href="#" target="_blank" rel="noopener noreferrer")
        i.fa.fa-github
      a(href="#" target="_blank" rel="noopener noreferrer")
        | Erozak
      | &nbsp;&copy;&nbsp;
      time(alt="2017") 2017
