$white: #FFF;

$black: #212121;
$real-black: #000;

$blue-darker: #081c24;

$green: #01d277;

$bg-color: $blue-darker;
$bg-revers-color: $green;

$font-color: $white;

$link-color: $green;
$link-hover-color: lighten($green, 20%);

$nav-background-color: rgba($bg-color, .85);

$grid-dym-background-color: rgba($bg-color, .85);

$card-border-color: rgba($real-black, .18);
$card-background-color: rgba($bg-color, .85);
$card-title-background-color: rgba($bg-color, .85);

/* ------------------------------------------ */

$medias: (
  laptop: (max-width: 1024px),
  tablet: (max-width: 768px),
  phone: (max-width: 425px),
  pc: (min-width: 1025px),
);

/* ------------------------------------------ */

$font-title: 'Josefin Sans', sans-serif, 'Noto Serif TC', 'Microsoft JhengHei';
$font-normal: 'PT Sans', 'Noto Sans CJK TC', sans-serif, 'Microsoft JhengHei';
$font-condensed: 'Voltaire', 'Noto Sans CJK TC', sans-serif, 'Microsoft JhengHei';

$font-circle-progress: 'Raleway', 'Noto Sans', sans-serif;

/* ------------------------------------------ */


/* ------------------------------------------ */

$container-width:(
  phone: 370px,
  tablet: 680px,
  laptop: 840px,
  pc: 960px,
);

$nav-width: (
  phone: 370px,
  tablet: 680px,
  laptop: 840px,
  pc: 960px,
);
$nav-top: 3em;

/* ------------------------------------------ */
$transition-duration: .07s;
$transition-cuz: ease-in-out;
