.head {
  position: relative;
  padding-top: $nav-top;
  width: 100%;
  font-family: $font-title;
  z-index: 50;
}

.main {
  margin-top: 2em;
}

.wrap {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  display: block;
  margin: 0 auto;
  width: 96%;
  transition: max-width $transition-duration $transition-cuz;

  @include rwd-each(max-width, $container-width);
}

.data-box {

  .flex {
    position: relative;
    margin: 0 auto;

    .poster {
      flex: 0 0 45%;
      border-radius: .25em 0 0 .25em;
      height: auto;
    }

    .detail {
      flex: 1 1 auto;

      & > div:last-child {
        margin-bottom: 0;
      }

      .title-wrap {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 100%;
        line-height: 1.2;
        justify-content: flex-start;
        align-items: flex-start;

        .title {
          flex: 1 1 auto;
          margin: 0;
          font-size: 1em;
          word-break: break-word;
        }

        .rate {
          align-self: flex-start;
          flex: 0 0 auto;
          margin-left: .25em;
          width: 1em;
          height: 1em;
        }
      }

      .tagline {
        line-height: 1;
        color: $green;
        word-break: keep-all;
      }

      .overview {
      }

      .genre {
        margin: 2em 0;
      }

      .others {

        .topic {
          display: block;
          font-family: $font-condensed;
          font-weight: lighter;
          color: $green;
        }
      }
    }
  }
}

.card {
  position: relative;
  display: inline-block;
  border-radius: .25em;
  background-color: $card-background-color;
  z-index: 10;

  .poster {
    flex: 0 0 40%;
  }

  .detail {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    padding: 1em;

    .title-wrap {
      font-size: 1.75em;
      flex-grow: 1;

      .title {
        flex: 1 1 auto;
        margin: 0;
        font-size: 1em;
        word-break: break-all;
      }
    }

    .tagline {
      font-size: 1.125em;
    }

    .genre {
      margin: .5em 0;
      font-size: .75em;
    }

    .others {
      flex: 0 0 auto;
      margin: 1em 0;
    }

  }

}

a.card {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.waterfall {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > .item {
    display: inline-block;
    flex: 0 0 50%;
    padding: .5em;
    transition: width $transition-duration $transition-cuz,
                padding $transition-duration $transition-cuz;

    @include rwd-tablet {
      flex: 0 0 90%;
    };

    @include rwd-phone{
      flex: 0 0 100%;
      padding: .5em 0;
    };

    & > .card {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


.picked {
  display: block;
  padding-top: 1em;
  width: 100%;

  .drop-bg {
    height: 100vh;
  }

  .grid-dym {
    border-radius: .25em;
    background-color: $grid-dym-background-color;
    z-index: 25;

    @include rwd-tablet {
      flex-direction: column;
    }

    .poster {
      transition: border-radius $transition-duration $transition-cuz;

      @include rwd-tablet {
        order: 2;
        border-radius: 0 0 .25em .25em;
      }
    }

    .detail {
      padding: 1.5em;

      @include rwd-tablet {
        order: 1;
      }

      & > div:last-child {
        margin-bottom: 0;
      }

      .title-wrap {
        font-size: 3em;
        transition: font-size $transition-duration $transition-cuz;

        @include rwd-tablet {
          font-size: 2em;
        }

        .title {
          @include rwd-tablet {
            order: 2;
          }
        }

        .rate {
          @include rwd-tablet {
            margin: 0 .25em 0 0;
            order: 1;
          }
        }
      }

      .tagline {
        font-size: 1.5em;
        transition: font-size $transition-duration $transition-cuz;

        @include rwd-tablet {
          font-size: 1.25em;
        }
      }

      .genre {
        margin: 2em 0;
        transition: font-size $transition-duration $transition-cuz;

        @include rwd-tablet {
          font-size: .75em;
        }
      }

      .others {
        margin: 2em 0;

        .topic {
          font-size: 1.25em;
          transition: font-size $transition-duration $transition-cuz;

          @include rwd-tablet {
            font-size: 1.125em;
          }
        }
      }
    }
  }
}

.foot {
  position: relative;
  margin: 2em auto;
  padding: 1.125em 1em 1em;
  text-align: center;
  z-index: 50;

  .fa {
    margin-right: .5em;
  }

  a {
    color: inherit;
  }
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  &.middle {
    align-items: center;
  }

}

.d-ib {
  display: inline-block !important;
}
