.tags {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: .125em;
  list-style: none;

  .item {
    flex: 0 0 auto;
    margin: .25em;
    border: 1px solid $white;
    border-radius: .25em;
    padding: .25em .5em .125em;
    font-family: $font-title;
  }
}


.list-beauty {
  .item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: .25em 0;
    width: 100%;

    .topic {
      flex: 0 0 30%;
      text-align: right;
      word-break: keep-all;
    }
    .inner {
      flex: 1 1 auto;
      padding-left: 1em;
    }
  }
}
